astroid==2.5.1
Babel==2.9.0
configparser==5.0.2
Django==3.1.7
django-autocomplete-light==3.8.2
django-crispy-forms==1.11.1
django-rest-auth==0.9.5
djangorestframework==3.12.2
djangosecure==0.0.11
future==0.18.2
gunicorn==20.0.4
InvoiceGenerator==1.1.0
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
mypy==0.812
mypy-extensions==0.4.3
Pillow==8.2.0
psycopg2-binary==2.8.6
pycryptodome==3.10.1
pylint==2.7.2
pylint-django==2.4.2
pylint-plugin-utils==0.6
pytz==2021.1
qrcode==6.1
qrplatba==0.3.4
reportlab==3.5.66
six==1.15.0
typed-ast==1.4.2
wrapt==1.12.1
