{% extends 'easy/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">

{% if room_types %}
    <ul>

    {% include "easy/message.html" %}
    {% for room_type in room_types %}
        <li><a href="{% url 'easy:room_type_delete' room_type.id %}">Delete</a> <a href="{% url 'easy:room_add' room_type.id %}">{{ room_type.name }}</a> </li>
        
    {% endfor %}
    </ul>
{% else %}
    <p>No room types are available.</p>
{% endif %}
    </div>
</div>

{% endblock %}



