{% extends 'easy/base.html' %}

{% block content %}
<div class="container-fluid">

{% include "easy/message.html" %}
{% if room %}
    <span style="font-size: 28px;">{{ room.room_number }}</span>
    <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
            Bookings
        </a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
            Information
        </a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">
            Update
        </a>
    </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        {% if bookings %}
        <table id="mytable" class="table table-bordred table-striped">
            <thead>
                <th>Checked in</th>
                <th>Paid</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Edit</th>
            </thead>
        <tbody>
            {% for booking in bookings %}
                {% url 'easy:booking_delete' booking.id as link %}
            <tr>
                <td>
                    <a href="{% url 'easy:booking_detail' booking.id %}">{{ booking.room }}</a>
                </td>
                <td>
                    {% if booking.is_checked_in %}
                        <i style="color: green;" class="fas fa-check"></i>
                    {% else %}
                        <i style="color: red;" class="fas fa-times"></i>
                    {% endif %}
                </td>
                <td>
                    {{ booking.amount_paid }}
                </td>
                <td>
                    {{ booking.start_date }}
                </td>
                <td>
                    {{ booking.end_date }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>No bookings are available.</p>
        {% endif %}



    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <table id="mytable" class="table table-bordred table-striped">
                <thead>
                    <th>Feature</th>
                    <th>Description</th>
                </thead>
            <tbody>
                <tr>
                    <td>
                        Room number
                    </td>
                    <td>
                        {{ room.room_number }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Size
                    </td>
                    <td>
                        {{ room.square_meter }} m2
                    </td>
                </tr>
                <tr>
                    <td>
                        Price
                    </td>
                    <td>
                        {{ room.price }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Floor
                    </td>
                    <td>
                        {{ room.floor }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Single bed
                    </td>
                    <td>
                        {% if room.single_bed %}
                            <i style="color: green;" class="fas fa-check"></i>
                        {% else %}
                            <i style="color: red;" class="fas fa-times"></i>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        Double bed
                    </td>
                    <td>
                        {% if room.double_bed %}
                            <i style="color: green;" class="fas fa-check"></i>
                        {% else %}
                            <i style="color: red;" class="fas fa-times"></i>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        Child bed
                    </td>
                    <td>
                        {% if room.child_bed %}
                            <i style="color: green;" class="fas fa-check"></i>
                        {% else %}
                            <i style="color: red;" class="fas fa-times"></i>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        View
                    </td>
                    <td>
                        {% if room.has_view %}
                            <i style="color: green;" class="fas fa-check"></i>
                        {% else %}
                            <i style="color: red;" class="fas fa-times"></i>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        Smokable
                    </td>
                    <td>
                        {% if room.smokable %}
                            <i style="color: green;" class="fas fa-check"></i>
                        {% else %}
                            <i style="color: red;" class="fas fa-times"></i>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        Balcony
                    </td>
                    <td>
                        {% if room.has_balcony %}
                            <i style="color: green;" class="fas fa-check"></i>
                        {% else %}
                            <i style="color: red;" class="fas fa-times"></i>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        Air cond
                    </td>
                    <td>
                        {% if room.has_air_cond %}
                            <i style="color: green;" class="fas fa-check"></i>
                        {% else %}
                            <i style="color: red;" class="fas fa-times"></i>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        Tv
                    </td>
                    <td>
                        {% if room.has_tv %}
                            <i style="color: green;" class="fas fa-check"></i>
                        {% else %}
                            <i style="color: red;" class="fas fa-times"></i>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        Created at
                    </td>
                    <td>
                        {{ room.created_at }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Updated at
                    </td>
                    <td>
                        {{ room.updated_at }}
                    </td>
                </tr>
            </tbody>
            </table>
        <div style="max-width: 300px;">
            <table id="mytable" class="table table-bordred table-striped">
                <thead>
                    <th>Cleaning date</th>
                </thead>
            <tbody>
            {% if cleaning %}
                {% for clean in cleaning %}
                    {% url 'easy:booking_delete' booking.id as link %}
                <tr>
                    <td>
                        {{ cleaning.cleaning_time }}
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        {% include "easy/form_snippet.html" %}
    </div>
    </div>

{% else %}
    <p>No room could be found.</p>
{% endif %}
</div>

{% endblock %}
