{% extends 'easy/base.html' %}

{% block content %}
{% include "easy/message.html" %}
<div class="container-fluid">
    <div class="row">
        <button data-whatever="Add new room type" style="margin: 0.5em;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add new room
        </button>
    </div>
    <div class="row">
{% if rooms %}
    {% for room in rooms %}
        {% url 'easy:room_delete' room.id as link %}
        <div class="card" style="width: 18rem; margin: 0.5em;">
            <div class="card-header d-flex justify-content-between w-100">
                <a href="{% url 'easy:room' room.id %}"><span style="font-size: 18px;">{{ room.room_number }}</span></a>
                <button type="button" onclick="changeBody('{{ room.room_number }}', '{{ link }}')" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
                    X
                </button>
            </div>
            <div class="card-body" style="color: royalblue">
                {% if room.single_bed %}
                    <i class="fas fa-bed"></i> Single bed<br />
                {% endif %}
                {% if room.double_bed %}
                    <i class="fas fa-bed"></i> Double bed<br />
                {% endif %}
                {% if room.child_bed %}
                    <i class="fas fa-bed"></i> Child bed<br />
                {% endif %}
                {% if room.has_view %}
                    <i class="fas fa-street-view"></i> Has view<br />
                {% endif %}
                <i class="fas fa-arrows-alt"></i>{{ room.square_meter }} m2<br />
                <i class="far fa-calendar-alt"></i> {{ room.created_at }}<br />
                <i class="fas fa-wrench"></i> {{ room.updated_at }}
                {% if room.image %}
                    <img src="{{ room.image.url }}" width="100%">
                {% endif %}

            </div>
        </div>
        
    {% endfor %}
{% else %}
    <p>No rooms are available.</p>
{% endif %}
    </div>
</div>

{% include "easy/modals.html" %}
{% include "easy/form_modal.html" %}
{% endblock %}
