{% extends 'easy/base.html' %}

{% block content %}
{% include "easy/message.html" %}
    <div class="row">
        <button data-whatever="Add new item" style="margin: 0.5em;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add new item
        </button>
    </div>
{% if items %}
    <div class="row">
{% for item in items %}
        {% url 'easy:room_service_delete' item.id as link %}
        <div class="card" style="width: 12rem; margin: 0.5em;">
            <div class="card-header d-flex justify-content-between w-100">
                <a href="{% url 'easy:room_service_update' item.id %}"><span style="font-size: 18px;">{{ item.name }} - {{ item.price }}</span></a>
                <button type="button" onclick="changeBody('{{ item.name }}', '{{ link }}')" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
                    X
                </button>
            </div>
            <div class="card-body" style="color: royalblue">
                <img src="{{ item.image.url }}" width="100%", height="100%">
            </div>
        </div>
{% endfor %}
    </div>
{% endif %}

{% include "easy/form_modal.html" %}
{% include "easy/modals.html" %}
{% endblock %}

