{% extends 'easy/base.html' %}

{% block content %}
{% include "easy/message.html" %}
<div class="container-fluid">
    <div class="row">
        <button data-whatever="Add new guest" style="margin: 0.5em;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add new guest
        </button>
    </div>
    <div class="row">

{% if guests %}
    <ul>

    {% include "easy/message.html" %}
    {% for guest in guests %}
        <li><a href="{% url 'easy:guest_delete' guest.id %}">Delete</a> {{ guest.name }} {{ guest.surname }} </li>
        
    {% endfor %}
    </ul>
{% else %}
    <p>No guests are available.</p>
{% endif %}
    </div>
</div>

{% include "easy/form_modal.html" %}
{% include "easy/modals.html" %}
{% endblock %}


