
{% extends 'easy/base.html' %}

{% block content %}

    {% include "easy/form_snippet.html" %}

<script>
    // Put a listener on start date for auto input to end date input
    document.getElementById("id_start_date").addEventListener('change', doThing);

    function doThing(){
        end_date = document.getElementById("id_end_date");
        end_date_value = end_date.value
        start_date_value = document.getElementById("id_start_date").value;
        // If end date value is empty
        if (end_date_value === '') {
            end_date.value = start_date_value;
        } else {
            // If start date is earlier than end date
            if (new Date(start_date_value).valueOf() < new Date(end_date_value).valueOf()) {
                end_date.value = start_date_value;
            }
        }
    }
</script>
{% endblock %}

