{% extends 'easy/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">

{% if bookings %}
    <ul>

    {% if messages %}
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><span style="color: green">{{ message }}</span></li>
        <!-- <span style="color: green">{{ message }}</span> -->
        {% endfor %}
    {% endif %}
    {% for booking in bookings %}
        <li><a href="{% url 'easy:booking_delete' booking.id %}">Delete</a> {{ booking }}</li>
        
    {% endfor %}
    </ul>
{% else %}
    <p>No bookings are available.</p>
{% endif %}
    </div>
</div>

{% endblock %}



