{% extends 'easy/base.html' %}

{% block content %}
{% include "easy/message.html" %}
<div class="container-fluid">
    <div class="row">
        <button data-whatever="Add new booking" style="margin: 0.5em;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add new booking
        </button>
    </div>
    <div class="row">

{% if bookings %}
    <ul>
    {% for booking in bookings %}
        <li><a href="{% url 'easy:booking_delete' booking.id %}">Delete</a> {{ booking }} <a href="{% url 'easy:booking_update' booking.id %}">Update</a></li>
        
    {% endfor %}
    </ul>
{% else %}
    <p>No bookings are available.</p>
{% endif %}
    </div>
</div>

{% include "easy/form_modal.html" %}
{% include "easy/modals.html" %}
{% endblock %}



