<form action="{% url 'easy:booking_search' %}" name="booking-search" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" hidden value="Submit">
</form>
<div id="reportrange" class="date-picker">
    <i class="fa fa-calendar"></i>&nbsp;
    <span></span> 
</div>
<script type="text/javascript">

    var start = moment();
    var end = moment().add(5, 'days');

    function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        end_date = document.getElementById("id_end_date");
        start_date = document.getElementById("id_start_date");
        start_date.value = start.format('YYYY-MM-DD');
        end_date.value = end.format('YYYY-MM-DD');
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
    }, cb);

    cb(start, end);

    $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
        console.log("clicked apply");
        document.forms['booking-search'].submit();
    });
    $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
        console.log(picker.startDate.format('YYYY-MM-DD'));
        console.log(picker.endDate.format('YYYY-MM-DD'));
    });

</script>